:root {
  --main-bg-color: #13366b;
  --my-bg-secondary: rgba(36, 74, 131, 0.5);
  --my-bg-thirdary: #0d2850;
  --my-bg-sidenav: rgba(0, 35, 88, 0.63);
  --my-bg-modal: rgba(0, 35, 88, 1);
}

body {
  background-color: var(--main-bg-color);
  height: 100vh;
}

textarea {
  resize: none;
}

.btn-close {
  filter: invert(100%) sepia(34%) saturate(3%) hue-rotate(194deg)
    brightness(113%) contrast(90%);
}

.my-bg-secondary {
  background-color: var(--my-bg-secondary);
}

.my-bg-thirdary {
  background-color: var(--my-bg-thirdary);
}

.my-bg-modal {
  background-color: var(--my-bg-modal);
}

.form-control:focus {
  background-color: var(--my-bg-thirdary);
}

.form-control::placeholder {
  color: #9d9d9d;
}

.icon {
  width: 20px;
  height: 20px;
}

.rotate-90 {
  transform: rotate(90deg);
}
