:root[data-theme='light'] {
  --text: #020303;
  --background: #f9fbfb;
  --primary: #633b41;
  --secondary: #d9e8e6;
  --accent: #995c64;
  --static-3: rgba(0, 0, 0, 0.03);
  --static-10: rgba(0, 0, 0, 0.1);
}
:root[data-theme='dark'] {
  --text: #fcfdfd;
  --background: #040606;
  --primary: #c49ca2;
  --secondary: #172624;
  --accent: #a3666e;
  --static-3: rgba(255, 255, 255, 0.03);
  --static-10: rgba(255, 255, 255, 0.1);
}

body {
  height: 100vh;
}

.text {
  color: var(--text);
}

.background {
  background: var(--background);
}

.primary {
  background: var(--primary);
}

.secondary {
  background: var(--secondary);
}

.accent {
  background: var(--accent);
}

.static-3 {
  background: var(--static-3);
}

.static-10 {
  background: var(--static-10);
}

.text-suttle {
  opacity: 50%;
}

textarea {
  resize: none;
}

.btn-close {
  filter: invert(100%) sepia(34%) saturate(3%) hue-rotate(194deg)
    brightness(113%) contrast(90%);
}

.form-control:focus {
  background-color: var(--my-bg-thirdary);
}

.form-control::placeholder {
  color: #9d9d9d;
}

.icon {
  width: 20px;
  height: 20px;
}
.icon-big {
  width: 50px;
  height: 50px;
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.message-view-body {
  min-height: 500px;
}
